html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-scroll {
  font-size: 20px;
}

.container {
  height: 100%;
  width: 100%;
}

.panel {
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.panel-top {
  height: 40px;
  width: 668px;
}

.panel-left {
  top: 40px;
  width: 668px;
}

.panel-right {
  left: 668px;
  background-color: #23241f;
  overflow: scroll;
}

.language-select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  -webkit-appearance: none;
  padding: 0 10px;
  border-radius: 0;
  background-color: #fff;
  color: #666;
  font-family: Menlo, monospace;
  border: 0;
  border-bottom: 1px solid #666;
  outline: none;
}

.input {
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.preview {
  margin: 0;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: Menlo, monospace;
}

.hljs {
  background-color: #23241f;
}
